/*
* MainMenu.css
* Styles for the Main Menu component
*/
.button-row {
  display: flex;
  gap: 16px; /* space between buttons */
}

.main-menu-button {
  background-color: #ca61fb; /* button background color */
  color: white;              /* button text color */
  border: none;                /* no border */
  padding: 20px 40px;          /* padding for the button */
  font-size: 16px;             /* font size */
  cursor: pointer;             /* pointer cursor on hover */
  border-radius: 5px;          /* rounded corners */
  transition: background-color 0.3s ease; /* smooth background color transition */
}

.main-menu-button:hover {
  background-color: #b74ce9; /* darker shade on hover */
}

.modal-center {
  display: flex;
  justify-content: center;
  align-items: center;
}